<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add</title>
</head>
<body>
Add new reservation
<form action="/add" method="post">
    <div><label> user ids : <input type="text" name="user_id"/> </label></div>
    <div><label> meetroom id: <input type="text" name="meetroom_id"/> </label></div>
    <div><label> datetime : <input type="datetime-local" name="datetime"/> </label></div>
    <div><label> duration : <input type="time" name="duration"/> </label></div>

    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <div><input type="submit" value="Add reservation"/></div>
</form>
</body>
</html>