<html>
<head>
    <title>Hello World!</title>
</head>
<body>

<h1>Hello calendar!</h1>

<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <input type="submit" value="Sign Out"/>
</form>


<a href="/add">Add new reserv!</a>
<br>
<br>
Reservations
<br>
<br>
<hr>
{{#reservations}}
    Date: {{datetime}} <br>
    Duration: {{duration}}
    <br>
    <br>
    <i>Users:</i>
    <br>
    {{#users}}
        {{id}}
        {{email}}
        <br>
    {{/users}}
    <b>Room -</b> {{meetroom.name}}
    <a href="/calendar/reservation?meetroom_id={{meetroom.id}}&datetime={{datetime}}">Show reserv </a>
    <hr>
{{/reservations}}

</body>
</html>