<html>
<head>
    <title>Hello World!</title>
</head>
<body>

<h1>Hello calendar!</h1>

<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <input type="submit" value="Sign Out"/>
</form>

{{#meetrooms}}
    {{id}}
    {{name}}
    {{location}}
    <br>
{{/meetrooms}}
{{#message}}
    {{message}}
{{/message}}
</body>
</html>