<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello, this is the start page.</div>

<div><a href="/add">Let's add an event!</a></div>
<div><a href="/calendar">View calendar</a></div>

{{#users}}
    {{id}}
    {{email}}
    {{password}}
    {{login}}
    {{roles}}
    <br>
{{/users}}


</body>
</html>